@page
@model Web.Pages.Provider.AddProviderModel

@{
    ViewData["Title"] = "Add Provider";
}

<div class="main--content">

    <div class="recent--patients">
        <div class="title">
            <h2 class="section--title">Add Provider</h2>
            @*<button class="add"><i class="ri-add-line"></i>Add Doctor</button>*@
        </div>
        @Html.AntiForgeryToken()
        <table>
            <tbody>
                <tr>
                    <td>Provider name</td>
                    <td><input type="text" id="FirstName" name="FirstName" /></td>
                    <td><input type="text" id="LastName" name="LastName" /></td>
                </tr>
                <tr>
                    <td>Identifier No</td>
                    <td><input type="text" id="Hsn" name="Hsn" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Specialty Name</td>
                    <td>
                        <select id="SpecialtyId">
                            <option value="0">--Select--</option>
                            <option value="1">Dental</option>
                            <option value="2">Heart</option>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td><input type="text" id="Address" name="Address" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" id="City" name="City" /></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Province</td>
                    <td><input type="text" id="Province" name="Province" /></td>
                    <td></td>
                </tr>

                <tr>
                    <td><input type="button" id="cmdSave" value="Save" /></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#cmdSave").click(function () {
            var patient = '{Hsn: "' + $("#Hsn").val() + '",Dob: "' + $("#Dob").val() + '",FirstName: "' + $("#FirstName").val() + '",LastName: "' + $("#LastName").val() + '",Address: "' + $("#Address").val() + '",City: "' + $("#City").val() + '",Province: "' + $("#Province").val() + '" }';
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/api/providers/addprovider",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("XSRF-TOKEN",
                        $('input:hidden[name="__RequestVerificationToken"]').val());
                },
                data: patient,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert(response.FirstName);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        });
    });
</script>
